@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.picture > img {
  height: 300px;
  width: 300px;
}

Header {
  background-color: rgb(192, 192, 192);
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 50px;
}

Header > h1 {
  margin-bottom: 10px;
}

section {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

section > hr {
  margin-top: 25px;
  height: 3px;
  background-color: black;
  border-color: black;
}

.picture {
  text-align: center;
  margin-bottom: 40px;
}

.skills > li {
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.contact {
  margin-bottom: 50px;
}

.contact_list > li {
  list-style-type: number;
  padding: 5px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: rgb(192, 192, 192);
}

a:link {
  color: rgb(0, 128, 128);
  text-decoration: none;
  }

a:visited {
  color: rgb(78, 153, 0);
  text-decoration: none;
}

a:hover {
  transition: all 0.3 ease 0;
  color: rgb(255, 128, 0);
  text-decoration: none;
}

a:active {
  color: rgb(255,0,0);
  text-decoration: none;
}